.captions {
  $padding: 20px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - #{$height});
  z-index: 5;

  &:hover {
    .captions__y {
      font-size: $font-small;
      line-height: $font-small;
    }

    .captions__x {
      font-size: $font-title;
      line-height: $font-title;
    }
  }

  &__x {
    width: calc(100% - 25px);
    top: calc(50% - #{$padding});
    left: 25px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 0;
    line-height: $font-title;
    font-weight: bold;
    transition: font-size .1s ease;

    .captions-value {
      box-sizing: border-box;
      color: $cl-blue;

      span {
        box-sizing: border-box;
      }

      &:nth-last-child(2) {
        margin-right: -60px;

        span {
        }
      }

      &:nth-last-child(1) {
        margin-right: 40px;

        span {
        }
      }
    }
  }

  &__y {
    height: calc(100% - 25px);
    top: 25px;
    left: 25px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 0;
    flex-direction: column;
    line-height: $font-main;
    font-weight: bold;
    transition: font-size .1s ease;

    .captions-value {
      box-sizing: border-box;
      color: $cl-blue;

      &:nth-last-child(2) {
        margin-bottom: -25px;

        span {
        }
      }

      &:nth-last-child(1) {
        margin-bottom: 25px;

        span {
        }
      }
    }
  }
}
