// colors.scss

$cl-black: #16a085;
$cl-red: #e74c3c;
$cl-green: #27ae60;
$cl-paleblue: #3498db;
$cl-blue: #2980b9;
$cl-yellow: #f1c40f;
$cl-orange: #f39c12;
$cl-purple: #8e44ad;
$cl-grey: #bdc3c7;
$cl-white: #fff;
$cl-mute: rgba(255,255,255,.5);
