.dropdown {
  position: absolute;
  width: 516px;
  top: 60px;
  right: 5px;
  background: $cl-grey;
  font-size: 0;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.1);
  display: none;

  .wrap {
    max-height: calc(100vh - 72px);
    overflow: scroll;
  }

  button {
    background: $cl-white;
    border: 0;
    box-shadow: 0;
    outline: none;
    margin: 1px;
    border-radius: 1px;
    font-size: $font-main;
    padding: 7px 17px;
    width: 70px;
    display: inline-block;

    &:hover {
      background: $cl-paleblue;
      color: #fff;
    }
  }
}
