@import 'reset.scss';
@import 'vars.scss';
@import 'colors.scss';
@import 'ui.scss';
@import 'nav.scss';
@import 'overlay.scss';
@import 'captions.scss';
@import 'dropdown.scss';

.temperature {
  #gridOne {
    display: block;
  }

  #plotOne {
    display: block;
  }
}

.precipitation {
  #gridTwo {
    display: block;
  }

  #plotTwo {
    display: block;
  }

  .captions__x {
    top: auto !important;
    bottom: 25px !important;
  }

  .captions__y {
    .captions-value {
      display: none !important;
    }

    #startTemperatureAxis {
      display: block !important;
    }
  }
}

#plotOne, #plotTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1;
}

#gridOne, #gridTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  background: transparent;
  z-index: 2;
  // Retina sharp
  // transform: scale(.5, .5);
  // transform-origin: left bottom;
}
