.nav {
  display: flex;
  z-index: 100;
  position: relative;

  &__left {
    flex-grow: 5;
    display: flex;
    flex-direction: row;

    .nav__item {
      padding: $block-padding $block-double-padding;
      border-right: $nav-border;


      &.active {
        background: $cl-blue;
      }

      &:first-child {
        border-left: $nav-border;
      }
    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-end;

    .nav__item {
      padding: $block-padding $block-double-padding;

      &:hover {
        &:after {
          display: block;
        }

        & .dropdown {
          display: block;
        }
      }

      &:after {
        @include pseudo;
        bottom: 0px;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent $cl-grey transparent;
      }
    }

    .nav__title {
      color: $cl-white;
      font-size: $font-title;
      line-height: $font-title;
      display: block;
      background: none;
      border: 0;
      outline: 0;
      width: auto;
      width: 60px;
      height: $font-title;
      transition: background .1s ease;
      border-radius: 3px;

      &:focus {
        background: rgba(255,255,255,0.3);
      }
    }
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: relative;
  }

  &__subtitle {
    color: $cl-mute;
    font-size: $font-small;
    line-height: $font-small;
    display: block;
  }

  &__title {
    color: $cl-white;
    font-size: $font-main;
    line-height: $font-main;
    display: block;
  }
}
