.overlay {
  @include pseudo;
  background: rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
  display: none;

  img {
    width: 60px;
    height: 60px;
    transform: rotate(270deg);
  }
}

.loading-mode {
  .overlay {
    display: flex;
  }
}
