// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
$block-padding: 20px;
$height: 60px;

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
}

a {
  &, &:visited, &:active, &:link {
    text-decoration: none;
    color: $cl-blue;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin pseudo {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.block-wrapper {
  padding: $block-padding;
  box-sizing: border-box;
}

.ui-header {
  height: $height;
  width: 100%;
  background: $cl-paleblue;
}

.ui-canvas {
  // height: calc(100vh - #{$height});
  // width: 100%;
  background: $cl-white;
}
