$header-height: 50px;
$footer-height: 20px;
$cblock-height: 55px;
$leftmenu-width: 90px;
$submenu-width: 160px;

$font-title: 17px;
$font-main: 14px;
$font-small: 12px;

$block-padding: 9px;
$block-double-padding: 18px;

$nav-border: 1px solid rgba(255, 255, 255, .1);

$transition-transform: transform .1s ease;
$transition-fadein: opacity .1s ease, max-height .1s ease;
